header{
  background-color: rgb(25,72,147);
  color: white;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
#title{
  text-align: center;
  text-transform: capitalize;
}
nav{
  color: rgb(25,72,147);
  text-align: center;
}
h3, p{
  text-align: center;
}
h3{
  text-decoration: underline;
}
footer{
  background-color: black;
  color: white;
  margin-top: 10px;
}
